@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;700&display=swap');

*,
**:before,
**:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Nunito', sans-serif;
  color: white;
}

.calculator {
  border: 2px solid white;
  border-radius: 10px;
  padding: 16px;
}

.display {
  min-height: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 50px;
  margin: 0 15px 6px 0;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 400px;
  width: 100%;
  grid-gap: 10px;
}

.btn-grid .btn {
  border-radius: 50%;
  font-size: 24px;
  border: none;
  min-width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  transition: transform 0.3s;
  cursor: pointer;
}

.btn-grid .btn:hover {
  transform: scale(1.05);
}

.btn-number.btn-big {
  grid-column: 1/3;
  border-radius: 100000px;
  justify-content: flex-start;
  padding-left: 24px;
}

.btn-grid .btn-action {
  background-color: #a5a5a5;
  color: #000;
}

.btn-grid .btn-operation {
  background-color: #f19a38;
}

.btn-grid .btn-number,
.btn-grid .btn-dot {
  background-color: #333;
}
